.navbar-brand {
  font-size: 14px !important;
  font-weight: 500;
  color: #fff !important;
}
.naav {
  background-color: var(--mainColor) !important;
  position: sticky !important;
  top: 0;
  z-index: 110;
}
.naav .menu-icon {
  color: #fff !important;
}
.naav .nav-link {
  padding-left: 15px !important;
  padding-right: 15px !important;
  font-weight: 500px !important;
  color: #fff !important;
}
