.footer {
  margin-top: 10px;
  background-color: var(--mainColor);
  color: #fff;
}
.footer .footer-logo {
  padding-bottom: 20px;
  margin-bottom: 50px;
  border-bottom: 1px solid #fff;
}
.footer .card-footer h3 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 30px;
}
.footer .global-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer .global-list li {
  margin-bottom: 15px;
  font-size: 14px;
}
